.coloured{
    color:#0174DF;
}

.color-blue{
    color: #337ab7;
}

.color-green{
    /*color:#01DF01;*/
    /*color:rgb(60, 118, 61)*/
    color:#01DF3A;
}


.color-grey{
    /*color:#01DF01;*/
    color: #A4A4A4;
}