
.color-blue{
    color: #337ab7;
}

.color-green{
    /*color:#01DF01;*/
    /*color:rgb(60, 118, 61)*/
    /*color:#01DF3A;*/
    color:#088A08;
}


.color-grey {
    color: #A4A4A4;
}

.color-steel{
    color: #6E6E6E;
}

.color-light-grey {
    color: #D8D8D8;
}

.color-white {
    /*color:#01DF01;*/
    color: white;
}

.border-grey{
    border: solid 1px #A4A4A4;
}

.border-white{
    border: solid 1px #FFFFFF;
}

.background-grey{
    background-color: #A4A4A4;
}

.background-white{
    background-color: #FFFFFF;
}

.background-blue{
    background-color: #337ab7;
}

.background-light-blue{
    background-color: #9fc5e5;
}

.background-orange{
    background-color: #FF8000;
}

.background-light-orange{
    background-color: #F7BE81;
}

.background-red{
    background-color: #B40404;
}

.color-red{
    color: #B40404;
}

.background-light-red{
    background-color: #F78181;
}

.background-steel{
    background-color: #6E6E6E;
}

.background-light-steel{
    background-color: #D8D8D8;
}
