/*Select2*/

.select2-selection--multiple{
    border: 1px solid #ccc !important;
}

.select2-selection--focus{
    border: 1px solid #ccc !important;
}

/*Fonts*/

.at-title h3 {
    font-size: 30px;
    font-weight: 100;
}

.redactor-editor{
    border-radius: 4px;
    border-color: #ccc !important;
}
.redactor-toolbar{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
}

