

<template name="checklistMortgage">

    <div class="row margin-bottom-10">
        <div class="col-sm-12">

            <div class="dropdown hover-box drop-heading">
                <div href="#" class="dropdown-toggle" id="titleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <h1 class="ellipsis margin-right-5" style="display: inline">
                        <i class="fa fa-pie-chart color-blue small-right-margin"></i>{{title}}
                    </h1>
                    <i class="fa fa-2x fa-caret-down light-text inline-block no-print"></i>
                </div>

                <ul class="dropdown-menu" aria-labelledby="titleDropdown">
                    <li><a id="generalMenuItem" href="#">General</a></li>
                    {{#each suppliers}}
                        <li><a class="supplierMenuItem" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-sm-4 no-print">
            <div class="well">

                <label>Identification</label>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Identification
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> First Home Identification
                    </label>
                </div>


                <label>Income</label>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Income
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Overtime Allowances Bonuses
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Casual or Part Time
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Self Employed
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Short Employment
                    </label>
                </div>

                <div class="checkbox" style="margin-top: 20px">
                    <label>
                        <input type="checkbox"> Rental Income
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Government Payments
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Investment Income
                    </label>
                </div>

                <label>Contribution</label>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Genuine Savings
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Funds to Complete
                    </label>
                </div>

                <label>Commitments</label>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Mortgages Closing
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Mortgages Keeping
                    </label>
                </div>

                <div class="checkbox" style="margin-top: 20px">
                    <label>
                        <input type="checkbox" > Personal Loans Closing
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Personal Loans Keeping
                    </label>
                </div>

                <div class="checkbox" style="margin-top: 20px">
                    <label>
                        <input type="checkbox" > Credit Cards Closing
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Credit Cards Keeping
                    </label>
                </div>

                <label>Security</label>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Purchase
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Preapproval
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Refinance
                    </label>
                </div>

            </div>

            <div class="well">

                <label>Miscellaneous</label>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Has Unused ABN
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Rent as Genuine Savings
                    </label>
                </div>

            </div>

        </div>

        <div class="col-sm-8">


                <button id="add-document-button" class="btn btn-primary margin-bottom-10 no-print">Add Document</button>
                {{#each checklist}}
                    {{>supplierCheckItem this}}
                {{/each}}

                {{#unless Template.subscriptionsReady}}
                    {{> loader}}
                {{/unless}}

        </div>

    </div>

</template>

<template name="supplierCheckItem">

                <div class="document-item hover-box selectable-box padding-10 margin-bottom-10 border-white {{#if isSection}}inversed{{/if}}">
                    {{#if isSection}}
                        {{text}}
                    {{else}}
                    <div class="row">


                            <div class="col-sm-7">
                                <b>{{text}}</b> <span class="label label-primary">{{category}}</span><br/>
                                {{description}}<br/>
                                {{#if downloadLink}}
                                <a href="{{downloadLink}}" class="plain" onclick="javascript:event.stopPropagation();">
                                    <i class="fa fa-2x fa-cloud-download color-blue"></i>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-5">
                                {{#if checkItems}}
                                    <label for="">Things to check</label>
                                    <ul style="margin-bottom:0px;">
                                    {{#each checkItems}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </div>

                    </div>
                    {{/if}}
                </div>

</template>