<template name="communications">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="ellipsis margin-top-10"><i class="fa fa-pie-chart color-blue small-right-margin"></i>Communication
                Templates</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">

            <div class="well margin-top-10">

                <input value="{{searchText}}" id="communication-search-text" type="text" placeholder="Search..."
                       class="form-control margin-bottom-10">
                <button id="add-template-button" class="btn btn-primary margin-bottom-10">Add Template</button>

                {{#each communications}}
                        {{> communicationItem this}}
                {{/each}}

                {{#unless Template.subscriptionsReady}}
                    {{> loader}}
                {{/unless}}
            </div>

        </div>
        <div class="col-sm-8">
            {{#with template}}
                {{> communicationView this}}
            {{/with}}

        </div>
    </div>

</template>

<template name="communicationsBody">
    {{> afQuickField name="body" label=false placeholder="Body" class="redactor"}}
</template>

<template name="communicationItem">
    <a href="{{viewPath}}" class="plain select-communication-item">
        <div class="{{isSelected}} hover-box selectable-box padding-10 margin-bottom-10 border-grey">
            {{name}}
        </div>
    </a>
</template>

<template name="communicationView">
    {{#autoForm collection="Communications" id="communicationsForm" autosave=true type="update" doc=this}}


        {{> afQuickField name="name" label=true placeholder=""}}

        <div class="row">
            <div class="col-sm-6">{{> afQuickField name="role" label=true placeholder="Role"}}</div>
            <div class="col-sm-6">{{> afQuickField name="type" label=true placeholder="Type"}}</div>
        </div>

        {{> afQuickField name="subject"  label=true placeholder="Subject"}}
        {{> afQuickField name="body" label=false placeholder="Body" class="redactor"}}

    {{/autoForm}}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Template Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a data-bind="click: delete" id='delete-template-menu' href="#">Delete Template</a></li>
            <li><a data-bind="click: clone" id='clone-template-menu' href="#">Clone Template</a></li>
        </ul>
    </div>

    <div class="color-grey margin-top-10">Changes are saved automatically</div>

</template>