<template name="emailModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                <h4 class="modal-title">Email</h4>
                </div>

                {{#autoForm collection="Emails" id="emailForm" type="insert" doc=null}}
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">

                            {{> afQuickField name="recipientsTo" placeholder="To" label=false type="select2" style="width:100%" select2Options=s2Opts}}
                            {{> afQuickField name="subject" placeholder="Subject" label=false}}

                            {{> afQuickField name="body" placeholder="" label=false}}


                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button id="sendEmail" type="submit" class="btn btn-primary btn-fixed">Save</button>
                        <button id="cancelEmail" type="button" class="btn btn-default btn-fixed cancel">Cancel</button>
                    </div>

                {{/autoForm}}

            </div>
        </div>
    </div>
</template>