<template name="emailModal">
    <head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>
    </head>
    
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                <h4 class="modal-title">Email</h4>
                </div>

                {{#autoForm collection="Emails" id="emailForm" type="insert" doc=null}}
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">

                            {{> afQuickField name="recipientsTo" placeholder="To" label=false type="select2"}}
                            {{> afQuickField name="subject" placeholder="Subject" label=false}}
                            {{> afQuickField name="body" placeholder="" label=false}}


                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button id="sendEmail" type="submit" class="btn btn-primary btn-fixed">Save</button>
                        <button id="cancelEmail" type="button" class="btn btn-default btn-fixed cancel">Cancel</button>
                    </div>

                {{/autoForm}}

            </div>
        </div>
    </div>
</template>