<template name="home">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="ellipsis"><i class="fa fa-pie-chart coloured small-right-margin"></i>Snap CRM</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <input id="txtContactSearch" type="text" placeholder="Search..." class="form-control bottom-margin">

                {{#if sessionMatching "action" "newContact"}}
                {{> newContact}}
                {{/if}}


                {{#each contacts}}
                    <div class="panel panel-default glow-box">
                        <div class="panel-heading">

                            <table>
                                <tr>
                                    <td width="99%">
                                        <div class="checkbox no-margin">
                                            <label>
                                                <input type="checkbox" class="select-contact"> {{fullName}}
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                            <i class="fa fa-chevron-down pull-right glow-text" ></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">Open Applications</a></li>
                                            <li><a id="editContactMenu" href="#">Edit Contact</a></li>
                                            <li class="divider"></li>
                                            <li><a id="emailContactMenu" href="#">Send Email</a></li>
                                            <li class="divider"></li>
                                            <li><a id="newContactMenu" href="#">New Contact</a></li>
                                            <li><a href="#">New Partner</a></li>
                                        </ul>

                                        </div>

                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="panel-body">
                            {{#if mobile}}
                                <span class="grey">M&nbsp;</span>{{mobile}}
                            {{/if}}
                            {{#if home}}
                                <span class="grey">H&nbsp;</span>{{home}}
                                <br/>
                            {{/if}}
                            {{email}}
                        </div>
                    </div>

                {{/each}}

                <button id="newContactButton" class="btn btn-primary">New Contact</button>

            </div>
        </div>
    </div>
    {{> footer}}
</template>


