<template name="profile">

    <div class="row">
        <div class="col-sm-12 margin-top-10 margin-bottom-10">
            <h1 class="ellipsis">
                <a href="/">
                <i class="fa fa-chevron-circle-left coloured small-right-margin"></i></a>John and Mary Citizen

            </h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs bottom-margin" role="tablist">
                <li role="presentation"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
                <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
                <li role="presentation"><a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a></li>
                <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">Properties and Loans</a></li>
                <li role="presentation"><a href="#assets" aria-controls="assets" role="tab" data-toggle="tab">Assets and Liabilities</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">



        <!--Main Tab-->

                <!--<div role="tabpanel" class="tab-pane fade active" id="overview">-->

                    <!--Content-->
                <!--</div>-->
                <div role="tabpanel" class="tab-pane fade" id="overview">
                    {{#autoForm collection="Profiles" id="profileOverview1" autosave=true doc=profile type='update'}}
                        {{> afQuickField name="names" placeholder="Full names" label=false}}
                    {{/autoForm}}
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="personal">

                    {{#each contacts}}
                    {{#autoForm collection="ProfileContacts" id="profileContact{{_id}}" autosave=true doc=this type='update'}}


                        <div class="row">
                            <div class="col-sm-12 fixed-label">
                                Name
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <!--<div class="fixed-label">Name</div>-->
                                {{> afQuickField name="firstName" placeholder="First" label=false}}
                            </div>
                            <div class="col-sm-3">
                                <!--<div class="fixed-label"></div>-->
                                {{> afQuickField name="middleName" placeholder="Middle" label=false}}
                            </div>
                            <div class="col-sm-3">
                                <!--<div class="fixed-label"></div>-->
                                {{> afQuickField name="lastName" placeholder="Last" label=false}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                {{> afQuickField name="mobile" placeholder="" label=true}}
                            </div>
                            <div class="col-sm-3">
                                {{> afQuickField name="landLine" placeholder="" label=true}}
                            </div>
                            <div class="col-sm-6">
                                {{> afQuickField name="email" placeholder="" label=true}}
                            </div>
                        </div>
                    {{/autoForm}}
                    {{/each}}

                </div>



                <div role="tabpanel" class="tab-pane fade" id="employment">
                    Employment Content
                </div>
                <div role="tabpanel" class="tab-pane fade" id="properties">
                    Properties Content
                </div>
                <div role="tabpanel" class="tab-pane fade" id="assets">
                    Assets Content
                </div>



            </div>



        </div>
    </div>



    {{#unless Template.subscriptionsReady}}
        {{> loader}}
    {{/unless}}

</template>