<template name="profile">

    <div class="row">
        <div class="col-sm-12 margin-top-10 margin-bottom-10">
            <h1 class="ellipsis">
                <a href="/">
                <i class="fa fa-chevron-circle-left coloured small-right-margin"></i></a>{{profile.names}}

            </h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <!-- Nav tabs -->

            <ul class="nav nav-tabs bottom-margin" role="tablist">
                <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
                <li role="presentation"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
                <li role="presentation"><a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a></li>
                <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">Properties and Loans</a></li>
                <li role="presentation"><a href="#assets" aria-controls="assets" role="tab" data-toggle="tab">Assets and Liabilities</a></li>
            </ul>

            <!-- Tab panes -->

            <div class="tab-content">

                <!--Overview Tab-->

                <div role="tabpanel" class="tab-pane fade in active" id="overview">
                    {{#autoForm collection="Profiles" id="profileOverview1" autosave=true doc=profile type='update'}}
                        {{> afQuickField name="names" placeholder="Full names" label=false}}
                    {{/autoForm}}

                    <div class="row">
                        {{#each contacts}}
                            <div class="col-md-6">
                                {{#autoForm collection="ProfileContacts" id=formId autosave=true doc=this type='update'}}
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{> afQuickField name="firstName" placeholder="First Name" label=false}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{> afQuickField name="middleName" placeholder="Middle Name" label=false}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{> afQuickField name="lastName" placeholder="Last Name" label=false}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{> afQuickField name="mobile" placeholder="Mobile" label=false}}
                                    </div>
                                    <div class="col-sm-8">
                                        {{> afQuickField name="email" placeholder="Email" label=false}}
                                    </div>
                                </div>
                                {{/autoForm}}
                            </div>
                        {{/each}}
                        {{#if collectionCountBelow contacts 2}}
                            <div class="col-md-6">
                                <button id="add-person-button" class="btn btn-primary">Add Person</button>
                            </div>
                        {{/if}}



                    </div>

                    {{#with mortgage}}

                    <div class="row">
                        <div class="col-sm-4">
                            {{#autoForm collection="ProfileMortgages" id="profileMortgagesForm" autosave=true doc=this type='update'}}
                                {{> afQuickField name="loanPurpose" placeholder="" label=true}}
                            {{/autoForm}}
                        </div>
                    </div>

                    {{/with}}

            <!--Properties-->

                    <div class="row">
                        <div class="col-sm-12">
                            <button id="add-property-button" class="btn btn-transparent margin-bottom-13">
                                <i class="fa fa-2x fa-plus-circle color-blue"></i>
                            </button>
                            <h2 class="inline-block">Existing Properties</h2>
                        </div>
                    </div>
                    {{#each properties}}
                        {{#autoForm collection="ProfileProperties" id=formId autosave=true doc=this type='update'}}
                            <div class="row">
                                <div class="col-sm-4">
                                    <table style="width: 100%"><tr>
                                        <td style="width: 1%; padding-right:3px;vertical-align: top;">
                                            <button class="delete-property-button btn btn-transparent" style="margin-top: -3px;">
                                                <i class="fa fa-2x fa-times-circle color-red"></i>
                                            </button>
                                        </td>
                                        <td style="width:99%">
                                            {{> afQuickField name="address" class="full-width" placeholder="Address" label=false}}
                                        </td>
                                    </tr></table>
                                </div>
                                <div class="col-sm-1">
                                    {{> afQuickField name="home" placeholder="" label=false}}
                                </div>
                                <div class="col-sm-2">
                                    {{> afQuickField name="value" placeholder="Value" label=false}}
                                </div>
                                <div class="col-sm-2">
                                    {{> afQuickField name="rent" placeholder="Rent" label=false}}
                                </div>
                                <div class="col-sm-2">

                                </div>
                                <!--<div class="col-sm-1">-->
                                    <!--<button class="delete-property-button btn btn-danger margin-bottom-10">-->
                                        <!--<i class="fa fa-times"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>
                        {{/autoForm}}
                    {{/each}}

                    <!--Mortgages-->

                    <div class="row">
                        <div class="col-sm-11">
                            <button id="add-mortgage-button" class="btn btn-transparent margin-bottom-13">
                                <i class="fa fa-2x fa-plus-circle color-blue"></i>
                            </button>
                            <h2 class="inline-block">Existing Mortgages</h2>
                        </div>
                    </div>
                    {{#each mortgages}}
                        {{#autoForm collection="ProfileLiabilities" id=formId autosave=true doc=this type='update'}}
                            <div class="row">
                                <div class="col-sm-4">
                                    <table style="width: 100%"><tr>
                                        <td style="width: 1%; padding-right:3px;vertical-align: top;">
                                            <button class="delete-liability-button btn btn-transparent" style="margin-top: -3px;">
                                                <i class="fa fa-2x fa-times-circle color-red"></i>
                                            </button>
                                        </td>
                                        <td style="width:99%">
                                            {{> afQuickField name="lender" placeholder="Lender" label=false}}
                                        </td>
                                    </tr></table>

                                </div>
                                <div class="col-sm-2">
                                    {{> afQuickField name="owing" placeholder="Owing" label=false}}
                                </div>
                                <div class="col-sm-2">
                                    {{> afQuickField name="limit" placeholder="Limit" label=false}}
                                </div>
                                <div class="col-sm-2">
                                    {{> afQuickField name="repayment" placeholder="Repayment" label=false}}
                                </div>
                                <div class="col-sm-2">
                                    {{> afQuickField name="frequency" placeholder="Frequency" label=false}}
                                </div>

                            </div>
                        {{/autoForm}}
                    {{/each}}



                    <div class="row">

                        <!--Left Column-->

                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-sm-11">
                                    <button id="add-loan-button" class="btn btn-transparent margin-bottom-13">
                                        <i class="fa fa-2x fa-plus-circle color-blue"></i>
                                    </button>
                                    <h2 class="inline-block">Loans/Leases</h2>
                                </div>
                            </div>
                            {{#each loans}}
                                {{#autoForm collection="ProfileLiabilities" id=formId autosave=true doc=this type='update'}}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <table style="width: 100%"><tr>
                                                <td style="width: 1%; padding-right:3px;vertical-align: top;">
                                                    <button class="delete-liability-button btn btn-transparent" style="margin-top: -3px;">
                                                        <i class="fa fa-2x fa-times-circle color-red"></i>
                                                    </button>
                                                </td>
                                                <td style="width:99%">
                                                    {{> afQuickField name="lender" placeholder="Lender" label=false}}
                                                </td>
                                            </tr></table>

                                        </div>
                                        <div class="col-sm-3">
                                            {{> afQuickField name="owing" placeholder="Owing" label=false}}
                                        </div>
                                        <div class="col-sm-2">
                                            {{> afQuickField name="repayment" placeholder="Repayment" label=false}}
                                        </div>
                                        <div class="col-sm-3">
                                            {{> afQuickField name="frequency" placeholder="Frequency" label=false}}
                                        </div>

                                    </div>
                                {{/autoForm}}
                            {{/each}}

                            <!--Credit Cards-->

                            <div class="row">
                                <div class="col-sm-11">
                                    <button id="add-card-button" class="btn btn-transparent margin-bottom-13">
                                        <i class="fa fa-2x fa-plus-circle color-blue"></i>
                                    </button>
                                    <h2 class="inline-block">Credit Cards</h2>
                                </div>
                            </div>
                            {{#each cards}}
                                {{#autoForm collection="ProfileLiabilities" id=formId autosave=true doc=this type='update'}}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <table style="width: 100%"><tr>
                                                <td style="width: 1%; padding-right:3px;vertical-align: top;">
                                                    <button class="delete-liability-button btn btn-transparent" style="margin-top: -3px;">
                                                        <i class="fa fa-2x fa-times-circle color-red"></i>
                                                    </button>
                                                </td>
                                                <td style="width:99%">
                                                    {{> afQuickField name="lender" placeholder="Lender and Type" label=false}}
                                                </td>
                                            </tr></table>

                                        </div>
                                        <div class="col-sm-3">
                                            {{> afQuickField name="owing" placeholder="Owing" label=false}}
                                        </div>
                                        <div class="col-sm-3">
                                            {{> afQuickField name="limit" placeholder="Limit" label=false}}
                                        </div>

                                    </div>
                                {{/autoForm}}
                            {{/each}}

                        </div>

                        <!--Right Column-->

                        <div class="col-md-4">

                            <!--Kids-->

                            <div class="panel panel-default margin-top-10">
                                <div class="panel-heading" style="padding-top:5px;padding-bottom:5px">
                                    <h3 class="panel-title inline-block">Kids</h3>
                                    <button id="add-kid-button" class="btn" style="border:none;padding:0px;background-color: transparent;margin:0px;margin-left:10px;">
                                        <i class="fa fa-2x fa-plus-circle color-blue"></i>
                                    </button>
                                    <button id="delete-kid-button" class="btn" style="border:none;padding:0px;background-color: transparent;margin:0px;margin-left:5px">
                                        <i class="fa fa-2x fa-minus-circle color-red"></i>
                                    </button>

                                </div>
                                <div class="panel-body">
                                    {{#each kids}}
                                        <div class="inline-block">
                                            {{#autoForm collection="ProfileKids" id=formId autosave=true doc=this type='update'}}
                                                <div class="inline-block" style="width:75px;padding:5px;">
                                                    {{> afFieldInput name="age" placeholder="Age"}}
                                                </div>
                                            {{/autoForm}}
                                        </div>
                                    {{else}}
                                        <span class="light-text">There are no children. Click (+) to add.</span>
                                    {{/each}}
                                </div>
                            </div>

                            <!--Rent-->

                            <div class="panel panel-default margin-top-10">
                                <div class="panel-heading" style="padding-top:5px;padding-bottom:5px">
                                    <h3 class="panel-title inline-block">Other</h3>

                                </div>
                                <div class="panel-body">
                                    {{#autoForm collection="Profiles" id="profileOverview2" autosave=true doc=profile type='update'}}
                                        {{> afQuickField name="payingRent" placeholder="Paying Rent (pw)" label=true}}
                                    {{/autoForm}}
                                </div>
                            </div>

                        </div>

                    </div>


                    <!--Incomes-->

                    <div class="row">
                        {{#each contacts}}
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-sm-11">
                                        <button class="add-income-button btn btn-transparent margin-bottom-13">
                                            <i class="fa fa-2x fa-plus-circle color-blue"></i>
                                        </button>
                                        <h2 class="inline-block">Income for {{firstName}}</h2>
                                    </div>
                                </div>

                                {{#each incomes}}
                                    {{#autoForm collection="ProfileIncomes" id=formId autosave=true doc=this type='update'}}
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <table style="width: 100%"><tr>
                                                    <td style="width: 1%; padding-right:3px;vertical-align: top;">
                                                        <button class="delete-income-button btn btn-transparent" style="margin-top: -3px;">
                                                            <i class="fa fa-2x fa-times-circle color-red"></i>
                                                        </button>
                                                    </td>
                                                    <td style="width:99%">
                                                        {{> afQuickField name="type" placeholder="Type" label=false}}
                                                    </td>
                                                </tr></table>

                                            </div>

                                            <div class="col-sm-3">
                                                {{> afQuickField name="amount" placeholder="Amount" label=false}}
                                            </div>
                                            <div class="col-sm-4">
                                                {{> afQuickField name="frequency" placeholder="Frequency" label=false}}
                                            </div>


                                            <div class="col-sm-5">
                                                <table style="width:100%"><tr>
                                                    <td style="width:37px;">

                                                    </td>
                                                    <td>
                                                        {{> afQuickField name="duration" placeholder="Duration" label=false}}
                                                    </td>
                                                </tr></table>
                                            </div>
                                            <div class="col-sm-7">
                                                {{> afQuickField name="details" placeholder="Details" label=false}}
                                            </div>
                                        </div>
                                    {{/autoForm}}
                                {{/each}}

                            </div>
                        {{/each}}
                    </div>

                </div>

                <!--Personal Tab-->

                <div role="tabpanel" class="tab-pane fade in" id="personal">

                    {{#each contacts}}
                    {{#autoForm collection="ProfileContacts" id=formId autosave=true doc=this type='update'}}


                        <div class="row">
                            <div class="col-sm-12 fixed-label">
                                Name
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <!--<div class="fixed-label">Name</div>-->
                                {{> afQuickField name="firstName" placeholder="First" label=false}}
                            </div>
                            <div class="col-sm-3">
                                <!--<div class="fixed-label"></div>-->
                                {{> afQuickField name="middleName" placeholder="Middle" label=false}}
                            </div>
                            <div class="col-sm-3">
                                <!--<div class="fixed-label"></div>-->
                                {{> afQuickField name="lastName" placeholder="Last" label=false}}
                            </div>
                            <div class="col-sm-3">
                                {{> afQuickField name="maritalStatus" placeholder="" label=false}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                {{> afQuickField name="mobile" placeholder="" label=true}}
                            </div>
                            <div class="col-sm-3">
                                {{> afQuickField name="landLine" placeholder="" label=true}}
                            </div>
                            <div class="col-sm-6">
                                {{> afQuickField name="email" placeholder="" label=true}}
                            </div>
                        </div>
                    {{/autoForm}}
                    {{/each}}
                    <div class="row">
                        <div class="col-sm-12">
                            {{#autoForm collection="Profiles" id=formId autosave=true doc=profile type='update'}}
                                {{> afQuickField name="contactPreferences" placeholder="eg. After hours, who, mobile/email/text etc" label=true}}
                            {{/autoForm}}
                        </div>
                    </div>

                    <div class="row">
                        {{#each contacts}}
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-sm-11">
                                        <button class="add-address-button btn btn-transparent margin-bottom-13">
                                            <i class="fa fa-2x fa-plus-circle color-blue"></i>
                                        </button>
                                        <h2 class="inline-block">Addresses for {{firstName}}</h2>
                                    </div>
                                </div>

                                {{#each addresses}}
                                    {{#autoForm collection="ProfileAddresses" id=formId autosave=true doc=this type='update'}}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table style="width: 100%"><tr>
                                                    <td style="width: 1%; padding-right:3px;vertical-align: top;">
                                                        <button class="delete-address-button btn btn-transparent" style="margin-top: -3px;">
                                                            <i class="fa fa-2x fa-times-circle color-red"></i>
                                                        </button>
                                                    </td>
                                                    <td style="width:99%">
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="padding-right: 10px; padding-bottom:3px;width:40px;">

                                                                </td>
                                                                <td>
                                                                </td>
                                                                    {{> afQuickField name="addressType" placeholder="Type" label=true}}
                                                                </tr>
                                                            </table>

                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="padding-right: 10px; padding-bottom:10px;width:40px;text-align: right">
                                                                    From
                                                                </td>
                                                                <td style="padding-right: 10px;">
                                                                    {{> afQuickField name="fromMonth" firstOption="(Month)" label=false}}
                                                                </td>
                                                                <td>
                                                                    {{> afQuickField name="fromYear" firstOption="(Year)" label=false}}
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        {{#if afFieldValueIs name="addressType" value="Current"}}
                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td style="padding-right: 10px; padding-bottom:10px;width:40px;text-align: right;">
                                                                        To
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-control" type="text" disabled="true" value="Current Day"/>
                                                                    </td>
                                                                </tr>
                                                            </table>


                                                        {{else}}
                                                            <table style="width:100%">
                                                                <tr>
                                                                    <td style="padding-right: 10px; padding-bottom:10px;width:40px;text-align: right;">
                                                                        To
                                                                    </td>
                                                                    <td style="padding-right: 10px;">
                                                                        {{> afQuickField name="toMonth" firstOption="(Month)" label=false}}
                                                                    </td>
                                                                    <td>
                                                                        {{> afQuickField name="toYear" firstOption="(Year)" label=false}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        {{/if}}


                                                    </td>
                                                </tr></table>

                                            </div>

                                            <div class="col-sm-6">
                                                {{> afQuickField name="address" placeholder="Address" label=true}}
                                                {{> afQuickField name="cityStatePostcode" placeholder="City, State, Postcode" label=false}}

                                            </div>
                                        </div>
                                    {{/autoForm}}
                                {{/each}}

                            </div>
                        {{/each}}
                    </div>




    </div>



                <div role="tabpanel" class="tab-pane fade" id="employment">
                    Employment Content
                </div>
                <div role="tabpanel" class="tab-pane fade" id="properties">
                    Properties Content
                </div>
                <div role="tabpanel" class="tab-pane fade" id="assets">
                    Assets Content
                </div>



            </div>



        </div>
    </div>



    {{#unless Template.subscriptionsReady}}
        {{> loader}}
    {{/unless}}

</template>