<template name="supplierDocuments">

    <div class="row margin-bottom-10">
        <div class="col-sm-12">

            <div class="dropdown hover-box drop-heading">
                <div href="#" class="dropdown-toggle" id="titleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <h1 class="ellipsis margin-right-5" style="display: inline">
                        <i class="fa fa-pie-chart color-blue small-right-margin"></i>{{title}}
                    </h1>
                    <i class="fa fa-2x fa-caret-down light-text inline-block"></i>
                </div>

                <ul class="dropdown-menu" aria-labelledby="titleDropdown">
                    <li><a id="generalMenuItem" href="#">General</a></li>
                    {{#each suppliers}}
                        <li><a class="supplierMenuItem" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-sm-8">
            {{#each documents}}
                {{> documentItem this}}
            {{/each}}
        </div>

        <div class="col-sm-4">

            <div class="well margin-top-10">

                <button id="add-document-button" class="btn btn-primary margin-bottom-10">Add Document</button>

                {{#unless Template.subscriptionsReady}}
                    {{> loader}}
                {{/unless}}
            </div>

        </div>

    </div>

</template>

<template name="documentItem">
    <a href="#" class="plain" >
        <div class="document-item hover-box selectable-box padding-10 margin-bottom-10 border-grey">
            <!--<i class="fa fa-edit fa-2x pull-right"></i>-->
            {{text}}
            <ul>
            {{#each checkItems}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
        </div>
    </a>
</template>