<template name="supplierDocuments">

    <div class="row margin-bottom-10">
        <div class="col-sm-12">

            <div class="dropdown hover-box drop-heading">
                <div href="#" class="dropdown-toggle" id="titleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <h1 class="ellipsis margin-right-5" style="display: inline">
                        <i class="fa fa-pie-chart color-blue small-right-margin"></i>{{title}}
                    </h1>
                    <i class="fa fa-2x fa-caret-down light-text inline-block no-print"></i>
                </div>

                <ul class="dropdown-menu" aria-labelledby="titleDropdown">
                    <li><a id="generalMenuItem" href="#">General</a></li>
                    {{#each suppliers}}
                        <li><a class="supplierMenuItem" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-sm-8 sortable-documents">
            {{#each sections}}
                <h2>{{name}}</h2>
                {{#each items}}
                    {{> documentItem this}}
                {{/each}}
            {{/each}}
            <!--{{#each documents}}-->
                <!--{{> documentItem this}}-->
            <!--{{/each}}-->
            {{#unless Template.subscriptionsReady}}
                {{> loader}}
            {{/unless}}
        </div>

        <div class="col-sm-4 no-print">

            <div class="well">

                <button id="add-document-button" class="btn btn-primary margin-bottom-10">Add Document</button>


            </div>

        </div>

    </div>

</template>

<template name="documentItem">

                <div class="document-item hover-box selectable-box padding-10 margin-bottom-10 border-white {{#if isSection}}inversed{{/if}}">
                    {{#if isSection}}
                        {{text}}
                    {{else}}
                    <div class="row">


                            <div class="col-sm-7">
                                <b>{{text}}</b> <span class="label label-primary">{{category}}</span><br/>
                                {{description}}<br/>
                                {{#if downloadLink}}
                                <a href="{{downloadLink}}" target="_blank" class="plain" onclick="javascript:event.stopPropagation();">
                                    <i class="fa fa-2x fa-cloud-download color-blue"></i>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-5">
                                {{#if checkItems}}
                                    <label for="">Things to check</label>
                                    <ul style="margin-bottom:0px;">
                                    {{#each checkItems}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </div>

                    </div>
                    {{/if}}
                </div>

</template>