<template name="transaction">



    {{#with transaction}}
    <div class="row">
        <div class="col-sm-12 margin-top-10 margin-bottom-10">
            <h1 class="ellipsis">
                <a href="/">
                <i class="fa fa-chevron-circle-left coloured small-right-margin"></i></a>{{client}}
            </h1>
        </div>
    </div>

    {{description}}

        <div class="row">
            <div class="col-sm-12">
                <ul id="stage-tabs" class="sortable-activities nav nav-tabs">
                    {{#each stages}}
                        <li class="stage-tab {{isTabActive}}" role="presentation"><a  href="#">{{title}}</a></li>
                    {{/each}}
                    <li role="presentation" class="unsortable">
                        {{#if addingStage}}
                            <input type="text" style="margin-top:4px;" class="form-control" id="add-stage-text"/>
                        {{else}}
                            <a id="add-stage-link" href="#">+</a>
                        {{/if}}

                    </li>
                </ul>
            </div>
        </div>

        <div class="row top-margin">


            <div class="col-sm-4">

            {{> transactionSteps}}

            </div>
            <div class="col-sm-6">

            {{> transactionDetail}}

            </div>
            <div class="col-sm-2">

                <ul class="tiles tiles-dark">
                    {{#each members}}
                    <li>
                        <i class="fa fa-2x fa-user pull-left" style="margin-top: -5px"></i>
                        {{contactName}}
                    </li>
                    {{/each}}

                </ul>

            </div>
        </div>
    {{/with}}

    {{#if Template.subscriptionsReady}}

    {{else}}
        {{> loader}}
    {{/if}}

</template>

<template name="transactionSteps">


    <ul id="steps" class="sortable-activities tiles tiles-light">

        {{#each steps}}
            {{#if isSection}}
                <li class="color-white background-grey" style="border-top: solid 5px white">
                    {{title}}
                </li>
            {{else}}
                <li class="step-item tile hover-box {{isStepActive}}">
                    {{#if completed}}
                        <i class="fa fa-2x green fa-check-circle pull-right above-top"></i>
                    {{/if}}
                    {{title}}
                    <div class="progress" style="height:3px;background-color:#BDBDBD;margin-bottom:5px;margin-top: 3px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                </li>
            {{/if}}
        {{/each}}
        {{#if queryParamExists 'stage'}}
        <li class="tile unsortable">
            <input placeholder="Add a step..." type="text" style="margin-top:4px;" class="form-control" id="add-step-text"/>
        </li>
        {{/if}}
    </ul>
    {{#if Template.subscriptionsReady}}

    {{else}}
        {{> loader}}
    {{/if}}
</template>

<template name="transactionDetail">
    {{#with step}}
        {{logThis}}
        <h3 style="margin-top: 0">{{title}}</h3>



    <img class="img-rounded img-thumbnail pull-left" style="width:50px;height:50px" src="/images/matt.ireland.jpg" alt=""/>
        &nbsp;

        <div class="btn-group">
            {{#each upcomingDays}}
                <button class="day-button btn btn-default {{dayClass}}">
                    {{initial}}
                </button>
            {{/each}}
            <button id="date-expand" class="btn btn-default">
                <span class="caret"></span>
            </button>
        </div>
        <div class="datepicker" data-date="{{formatDate due 'short'}}" style="margin-left:65px;display:none"></div>

    {{/with}}






    <ul class="tiles bottom-margin">

        {{#each tasks}}
        <li>
            {{#if statusCompleted}}
                <div class="btn-group pull-right">

                    <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-2x fa-check-circle color-green"></i>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="outstanding-menu" href="">Mark as Outstanding</a></li>
                    </ul>
                </div>

            {{else}}
            <div class="btn-group pull-right">

                <button id="activity-action" type="button" class="btn btn-default btn-fixed">Done</button>
                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
                    <!--<span class="caret"></span>-->
                    <!--<span class="sr-only">Toggle Dropdown</span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Complete</a></li>-->
                    <!--<li><a href="#">Not Applicable</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Edit Task</a></li>-->
                <!--</ul>-->
            </div>
            {{/if}}
            {{title}}
        </li>
        {{/each }}
    </ul>
    {{#if queryParamExists 'step'}}
        <textarea placeholder="Add a comment..." class="form-control margin-bottom-10" id="comment-text" rows="2"></textarea>
    {{/if}}
    <ul class="tiles bottom-margin">
        {{#each comments}}
        <li>
            <img class="img-rounded small-right-margin pull-left" style="width:30px;height:30px" src="/images/matt.ireland.jpg" alt=""/>
            {{description}}
            <span class="text-muted"> - {{fromNow updatedAt}}</span>

        </li>
        {{/each}}
    </ul>
</template>